// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'NEXT Book', 'Arial', 'Helvetica', sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 300;
$font-weight-bold: 500;
$line-height-base: 1.6;
